header {
    background-color: #e2dcd1;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.header__logo {
    height: 3rem;
    width: auto;
}

.header__hamburger {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.header__line {
    background-color: #B8924A;
    height: 1.5px;
    width: 3rem;
}