:root {
    --tlo-glowne: #F5F0E8;
    --tekst-glowny: #2A2117;
    --kolor-akcent: #B8924A;
    --tlo-sekcji-kontrast: #1C1610;
    --tekst-ciemne-tlo: #F0EBE0;
    --font-naglowki: 'Cormorant Garamond';
    --font-tekst: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tlo-glowne);
    font-family: var(--font-tekst);
    color: var(--tekst-glowny);
}

h1 {
    font-family: var(--font-naglowki);
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 200;
    color: var(--tekst-glowny);
}

h2 {
    font-family: var(--font-naglowki);
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--tekst-glowny);
}

h3 {
    font-family: var(--font-naglowki);
    font-style: normal;
    font-size: 2rem;
    font-weight: 200;
    color: var(--tekst-glowny);
}

h1 em, h2 em {
    font-style: italic;
    color: var(--kolor-akcent);
}

.eyebrow {
    font-family: var(--font-tekst);
    font-style: normal;
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--kolor-akcent);
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

p {
    font-family: var(--font-tekst);
    font-style: normal;
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.9;
    color: var(--tekst-glowny);
}

a {
    font-family: var(--font-tekst);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    text-decoration: none;
    color: var(--tekst-glowny);
}

button {
    border: 1px solid var(--kolor-akcent);
    background-color: transparent;
}

header {
    background-color: var(--tlo-glowne);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.header__logo {
    height: 3rem;
    width: auto;
}

.header__hamburger {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.header__line {
    background-color: #B8924A;
    height: 1.5px;
    width: 3rem;
}

.navigation {
    display: none;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #e2dcd1;
    padding: 10px;
    
}

.navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.navigation ul li a {
    text-decoration: none;
    color:#2A2117;
}

.hero--home {
    background-image: url('../images/tlo-hero-home.png');
    background-size: cover;
    background-position: left;
    height: 90vh;
}